body {
	background-color: rgb(200,200,200);
	color: rgb(30,30,30);
	font-family: courier
}

h1 {
	color: rgb(50,50,50);
	font-size: 35px;
}
h2 {
	color: rgb(50,50,50);
	font-size: 15px;
	font-weight: lighter;
}
h3 {
	color: purple;
	font-size: 20px;
	font-weight: bold;
}
h1, h2, h3 {
	font-family: helvetica
}

a:link {
	color: gray;
}

a:visited {
	color: gray;
}

a:hover {
	color: black;
}

.container {
	margin: 70px auto;
	width: 700px;
}

@media (max-width: 700px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 300px;
	}
}

.section {
	text-align: center;
	background: beige;
	border-radius: 5px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	padding: 1em;
	margin-bottom: 2em;
}

.img-round {
	border-radius: 50%
}

#title {
	text-align: right
}

#logo {
	text-align: left
}

.footer {
	text-align: center;
}






